* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Calculator{
    background-color: antiquewhite;
    height: 600px;
    width: 450px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.display {
    background-color: rgb(73, 71, 156);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 2;
    border-radius: 12px;
    margin: 20px;
    padding: 10px;
}
.up-display {
    display: flex;
    justify-content: space-between;
}

.up-display .output{
    width: fit-content;
    margin-left: auto;
}

.input, .output{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;
    width: fit-content;
    color: rgb(55, 53, 53);
}
.input{
    font-size: 28px;
}
.output {
    align-self: flex-end;
}
.body {
    background-color: beige;
    margin: 25px;
    flex: 1 0 auto;
    display: flex;
}

.num-pad {
    background-color: brown;
    width: calc(100%*(3/5));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.numerical {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    display: flex;
    justify-content: space-around;
}

.special-character {
    background-color: azure;
    display: flex;
    justify-content: end;
}

.special-character button{
    margin: 5px;
}
.side-panel{
    display: flex;
    flex-direction: column;
}
.operator {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

button {
    aspect-ratio: 5/4;
    background-color: rgb(142, 138, 138);
    color: white;
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;

}

.operator button {
    aspect-ratio: 0.7;
    margin: 5px;
}


#Equal {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
    min-width: 100px;
    margin: 0;
    background-color: rgb(255, 89, 0);
}